.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(52, 57, 59, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &-body {
        border-radius: 20px;
        background-color: white;
        padding: 32px;
        max-width: 400px;
    }
}